@import '../../assets/var';

.swiper_Section {
    height: 300px;
    width: 100%;
    background-color: $roxo;
    color: $branco;
    font-family: $fonte-um;
    border-bottom: 2px solid $cinza-escuro;

    .swiper_Content {
        height: 100%;
        width: 100%;
        text-align: center;

        .swiper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;

            .swiper_card {
                border: 2px solid;
                border-radius: 1.5rem;
                background-color: $branco;
                color: $roxo;
                width: 18rem;
                height: 15rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 1rem;

                .card_title {
                    margin-bottom: 1rem;
                    font-size: 2rem;
                }

                span {
                    font-size: 2.5rem;
                }

                .card_button {
                    background: #FFA500;
                    border: none;
                    padding: 1rem;
                    margin-top: 1rem;
                    border-radius: 1.5rem;
                    color: $roxo;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}