$caminho--imagem: url(./assets/teste.jpg);
$fonte-um: 'Lato', sans-serif;
$fonte-dois: 'Roboto', sans-serif;
$azul-claro: #4AB2F9;
$azul-medio: #1167B1;
$azul-escuro: #003399;
$amarelo-cintilante: #FFD700;
$amarelo-suave: #FFEE99;
$branco: #FFFFFF;
$cinza-claro: #F5F5F5;
$cinza-escuro: #333333;
$roxo: #1b1b50;
