@import '../../assets/var';

.main {
    background: $roxo;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: $fonte-um;

    .titulo {
        text-align: center;
        color: $branco;
        margin-top: 2rem;
        font-size: 2rem;

    }

    .noticias {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 2rem;

        .card_noticia {
            width: 350px;
            height: 275px;
            margin: 1rem 1.5rem;


            .image_noticia {
                max-width: 100%;
                height: auto;
            }

            .titulo_noticia {
                margin-top: 0.2rem;
                color: $branco;
                font-size: 1rem;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}