@import '../../../assets/var';

.nav {
    height: 85px;
    background-color: $roxo;
    display: flex;
    justify-content: center;
    align-items: center;

    .image_nav {
        margin-left: 1rem;

        @media (max-width: 300px) {
            width: 75%;
        }
    }
}